{% extends 'pages/base_page.html' %} 
{% load widget_tweaks %} 


{% block main_content %}
<h1 class="text-4xl text-center font-bold">{{ title }}</h1>

<form action="{% url 'contact' %}" method="post">
  {% csrf_token %} {% for field in form %}
  <div class="flex flex-col gap-1 mt-5">
    <label for="id_{{ field.name }}">{{ field.label }}:</label>
    {{ field|add_class:"border rounded p-2" }}
    
    {% if field.errors %}
    <p class="text-sm text-red-500">{{ field.errors }}</p>
    {% endif %}
      
  </div>
  {% endfor %}

  <button
    type="submit"
    class="w-full mt-5 p-2 text-lg font-bold text-white bg-teal-600 rounded cursor-pointer hover:bg-teal-700 transition-colors"
  >
    Send
  </button>
</form>
{% endblock main_content %}
