@import 'tailwindcss';

@layer components {
  .skill {
    --bg-color: #fff;
    --text-color: #000;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}

@source '../../**/*.{html,py}';
